div:hover {
    background-color: blue;
  }
  p:first-child {
    color: rgb(8, 8, 108);
  }
  p i:first-child {
    color: blue;
  }
  p::first-line {
    color: #ff0000;
    font-variant: small-caps;
  }
  p.intro::first-letter {
    color: #ff0000;
    font-size: 200%;
  }